complex_example.py
deep_image.py
hand_track.py
recognized_text.txt
speech.py
vosk-model-small-en-us-0.15/README
vosk-model-small-en-us-0.15/am/final.mdl
vosk-model-small-en-us-0.15/conf/mfcc.conf
vosk-model-small-en-us-0.15/conf/model.conf
vosk-model-small-en-us-0.15/graph/disambig_tid.int
vosk-model-small-en-us-0.15/graph/Gr.fst
vosk-model-small-en-us-0.15/graph/HCLr.fst
vosk-model-small-en-us-0.15/graph/phones/word_boundary.int
vosk-model-small-en-us-0.15/ivector/final.dubm
vosk-model-small-en-us-0.15/ivector/final.ie
vosk-model-small-en-us-0.15/ivector/final.mat
vosk-model-small-en-us-0.15/ivector/global_cmvn.stats
vosk-model-small-en-us-0.15/ivector/online_cmvn.conf
vosk-model-small-en-us-0.15/ivector/splice.conf
